<div class="segment">
  <%= link_to "New recipe", new_recipe_path, :class => "btn" %>
  <%= render 'search' %>
</div>

<div class="segment">
  <ul id="recipes">
    <%= render 'recipes', :recipes => @recipes %>
  </ul>
  <%= link_to_next_page @recipes, 'Load More', :remote => true, :class => 'btn', :id => "pagination", :data => { "loading-text" => "Loading..." } %>
</div>