<div class="segment">
  <%= render 'search' %>
</div>

<div class="segment">
  <ul id="actions">
    <%= render 'actions', :actions => @actions %>
  </ul>
  <%= link_to_next_page @actions, 'Load More', :remote => true, :class => 'btn', :id => "pagination", :data => { "loading-text" => "Loading..." } %>
</div>