.user_header {
  position:relative;
}

.user_points {
  position:absolute;
  top:20px;
  right:20px;
}

.users {
  list-style:none;
  margin:0;
  padding:0;
}

.user {
  float:left;
  width:100%;
  clear:left;
  margin-bottom:10px;
}

.user_photo {
  float:left;
  width:100px;
}

.user_meta {
  float:left;
  width:540px;
  padding-left:20px;
}



